/* Color scheme */
/* Aquamarine and have the boxes be white or grey */
/* look into timer */
* {
  box-sizing: border-box;
}
header {
    padding: 40px;
    text-align: center;
    background: rgb(65, 71, 161);
    border-bottom:30px #9d5cb4;
  }
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: blueviolet;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
 .words {
    width: 55vw;
    height: 400px;
  }
  .start {
    font-size: 25px;
    width: 20ox;
    color: salmon;
    background-color: slateblue;
    
  }
  .card {
    background: radial-gradient(circle, rgb(64, 170, 112) 0%, rgba(187, 33, 33, 0.604) 100%);
    border: 1px solid #19744f;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(73, 73, 73, 0.15) 0 2px 4px 3px;
    margin: auto;
    padding: 20px;
  }
  
.large-font {
    font-size: 3.5em;
    text-align:center;
  }
.results-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
.timer-text {
    padding: 55px;
}
.timer {
    height: 240px;
    padding: 10px;
    background: #0f423e;
    color: rgb(255, 255, 255);
    text-align: center;
}
.jumbotron{
background-color: rgb(136, 57, 136);
}
/*  reset button  */
.reset-btn {
    font-size: 15px;
    width: 20ox;
    height: 30px;
    line-height: 8px;
    margin-top: 20px;
  }
.display-4 {
  background-color: turquoise;
}
.crystalInfo{
  text-align: center;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: yellow;
}